<h2>Categories:</h2>
<%- list_categories(site.categories, { class: 'post-category', show_count: true, style: false, separator: "<br>", transform(str) { return str + "</a> | " } }) %>

<h2>Tags:</h2>
<%- list_tags(site.tags, {class: 'post-tag', style: false, separator: "<br>", transform(str) { return str + "</a> | " } }) %>

<h1>Posts</h1>
<ul class="post-list">
  <% page.posts.sort('date', 'desc').each(function(post) { %>
    <li class="post-item">
      <%- partial('_partial/post/date', { post: post, class_name: 'meta' }) %>
      <span><%- partial('_partial/post/title', { post: post, index: true, class_name: '' }) %><span>
    </li>
  <% }); %>
</ul>
