<div class="banner">
  <div id="blogtitel" class="blogtitel">
    <%= config.title %>
  </div>
  <ul id="wrapper" class="wrapper">
    <a href="https://arbochelli.me">
      <img width="530" height="220" src="/static/arbobanner-wide.png" title="YouTube channel">
    </a>
  </ul>
</div>
