<%- js('lib/justified-gallery/jquery.justifiedGallery.min.js') %>
<%- js('js/main') %>

<% if (theme.plugins.uterrances){ %>
<div id="disqus_thread"></div>
<script src="https://utteranc.es/client.js"
        repo="aBARICHELLO/arbochelli"
        issue-term="pathname"
        theme="preferred-color-scheme"
        label="comment"
        crossorigin="anonymous"
        async>
</script>
<% } %>
