
@keyframes anti-spin-rings {
  from { transform: rotateY(0) rotateX(73deg); }
  to   { transform: rotateY(-360deg) rotateX(73deg); }
}

@keyframes fadeIn {
  0% {opacity: 0;}
  75% {opacity: 0.8;}
  100% {opacity: 1;}
}

/* scene wrapper */
.wrapper{
  position:fixed;
  perspective: 5000px;
  perspective-origin: 60% 50%;
  margin-top: 2vh;
  width: inherit;
  opacity:0;
  padding:0;
}

.wrapper > div {
  position: relative;
  margin: 0 auto;
  transform-style: preserve-3d;
  height: 0px;
}

.banner
    height: 28vh
    width: 100%
    margin: 0
    padding-top: 1%
    color: $color-lightest;
    text-align: center
    background: $color-background;
