@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.wrapper{
  position:fixed;
  perspective: 5000px;
  perspective-origin: 60% 50%;
  margin-top: 2vh;
  width: inherit;
  padding:0;
  animation: fadeIn 1s;
}

.wrapper > div {
  position: relative;
  margin: 0 auto;
  transform-style: preserve-3d;
  height: 0px;
}

.banner
    height: 28vh
    width: 100%
    margin: 0
    padding-top: 1%
    color: $color-lightest;
    text-align: center
    background: $color-background;
